<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="about">
        <h1 class="heading">About me</h1>
        <div class=details>
            <div class="left-image">
                <img src="/images/profile.png">
            </div>
        </div>
        <div class="icons">
            <img src="/images/fb-icon.png">
            <img src="/images/twitter-icon.png">
            <img src="/images/linkedin-icon.png">
        </div>
        <div class="right-text">
            <h2>My name is Sushan</h2>
            <p>I love coding,playing soccer,listening music </p>
            <p>I am studying programming in georgian college</p>
            <p>You can click on the icon to follow me on social media</p>
        </div>

    </div>
</body>
</html>
