<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="contact-me">
      <div class="contact-div">
        <h1 class="heading">Contact Me</h1>
        <div class="right-img">
          <img src="/images/contact.webp">
          </div>
          <form>
                    <div class="form">
                        <input type="text" class="input-box" required placeholder="full name">
                        <input type="email" class="input-box" required placeholder="Email Id">
                        <textarea class="message" rows="4" cols="50" placeholder="Write something about yourself"></textarea>
                        <button class="submit">Submit</button>
                    </div>
                </form>
      </div>
    </div>

  </body>
</html>
