<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Home</title>
    <!-- Add any additional meta tags, linked stylesheets, or JavaScript here -->
</head>
<body>
    <div class="header">
        <div class="img">
        <img src="/images/avatar.jpg" alt="my image">
        </div>
         <div class="text">
        <p><span class="hello-text">Hello Everyone</span></p>
        <p>Welcome To my portfolio</p>
        <p>Its me <span class="name">sushan Budhathoki</span></p>
        <p class="last">I am web developer</p>
         </div>
    </div>
    
    
</body>
</html>


