<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>
    <div class="navbar">
        <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/about"><i class="fas fa-info-circle"></i>About me</a></li>
        <li><a href="/projects"><i class="fas fa-briefcase"></i> Projects</a></li>
        <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
    </div>
    <footer>
        <div class="footer-content">
            <div class="copyright">
                &copy; 2023 Express Portfolio
            </div>
            <div class="centered-text">
                <p>Sushan Budhathoki</p>
            </div>
            <div class="Link">
                <a href="https://github.com/Sushan2/COMP2068JSFrameworks/tree/main/ASSIGNMENT01">My Github</a>
            </div>
        </div>
    </footer>
    {{{body}}} 
  </body>
</html>
