<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="project-div">
        <div class="text-heading">
            <h1 class="heading">Projects</h1>
        </div>
        <div class="project-img">
            <div class="projects">
                <a href=""><img src="/images/java.jpg"></a>
                <a href=""><img src="/images/web.webp"></a>
                <a href=""><img src="/images/blackjack.png"></a>
            </div>
        </div>
        <div class="project-title">
            <h2 class="t1">Dealer app</h2>
            <h2 class="t2">Schedule website</h2>
            <h2 class="t3">Blackjack game</h2>

        </div>
    </div>
</body>
</html>
